body,
html {
  background-color: wheat;
  padding: 0;
  margin: 0;
  height: 100%;
}
.box {
  background-color: cadetblue;
  width: 50%;
  height: 50%;
  padding: 10px 20px 30px 40px;
  margin-top: 50px;
  margin-left: 50px;
  border-width: 5px;
  border-color: blueviolet;
  border-style: dashed;
}
.inside-box {
  background-color: azure;
  width: 50%;
  height: 50%;
  border: 5px solid peru;
}
.prBox {
  background-color: rosybrown;
  width: 100px;
  height: 100px;
  border: 1px solid brown;
  display: inline-block;
}
/* body {
  height: 400px;
  background-color: chocolate;
} */
.poBox {
}
